@font-face {
  font-family: "Monocraft";
  src: url("font/Monocraft.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* hero background image */
.bgimage {
  height: 100vh;
  background: url("images/background.png");
  background-size: cover;
  position: relative;
}

/* text css above hero image*/
.splash {
  position: relative;
  color: yellow;
  text-shadow: 3px 3px rgb(97, 79, 0);
  margin-left: 35rem;
  margin-top: -50px;
  animation: animateSplashText 0.27s linear infinite alternate;
}

@keyframes animateSplashText {
  0% {
    transform: rotate(-25deg) scale(1);
  }
  100% {
    transform: rotate(-25deg) scale(1.1);
  }
}

.hero-desc {
  font-size: 2rem;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 100px;
}

.menu-button {
  width: 30rem;
  margin: 5px 0px;
  border: #000000 solid 1px;
  height: 35px;
  color: aliceblue;
  background-color: #535353;
  box-shadow: 3px 3px gray inset;
  text-align: center;
  padding: 5px;
}

.home-bottom {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 7px;
}

/* spacing on all sections */
#about, #projects, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
}

#contact {
  padding-bottom: 4rem;
}

/* about section image css */
.imageAboutPage {
  width: 90%;
}

.slider-container {
  border: black 2px solid;
  background-color: rgba(34, 34, 34, 0.521);
  position: relative;
  height: 26px;
}

.slider-text {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: -2px auto;
}

.slider {
  width: 12px;
  height: 30px;
  position: absolute;
  margin: -4px 0;
  border: #000000 solid 1px;
  background-color: #535353;
  box-shadow: 3px 3px gray inset;
}

/* services section css */
.project-list {
  font-size: x-large;
  text-align: left;
  color: aliceblue;
}

.project-list:hover {
  background-color: rgb(71, 71, 71);
}

.selected {
  background-color: black;
  border: aliceblue solid 1px;
}

.hidden {
  display: none;
}

.container-fluid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.craft-row {
  margin: 0;
  height: 100px;
  width: 300px;
  padding-top: 4px;
}

.craft-col {
  height: 92px;
  margin: 0 4px;
  border: darkgray solid 3px;
  box-shadow: inset 3px 3px gray, 3px 3px gray;
  color: gray;
}

/* social media icons styling */
.social-icons {
  font-size: 36px;
  cursor: pointer;
  border: darkgray solid 3px;
  height: 60px;
  width: 60px;
  box-shadow: inset 3px 3px gray, 3px 3px gray;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2px;
  padding-bottom: 4px;
}

.social-icons:hover {
  border: aliceblue solid 5px;
  transform: scale(1.17);
  box-shadow: none;
}

/* footer styling */
#footer {
  text-align: center;
}
